<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>
        VOLVO FM и FH
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl = "6" offset-xl = "3">
        <ion-card>
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="../../../../assets/images/fh075.jpg">
            </ion-slide>
            <ion-slide>
              <img src="../../../../assets/images/fh076.jpg">
            </ion-slide>
            <ion-slide>
              <img src="../../../../assets/images/fh770.jpg">
            </ion-slide>
          </ion-slides>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl = "8" offset-xl = "2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>В нашем автопарке имеется 2 грузовика Volvo FM и 1 грузовик Volvo FH грузоподъемностью 10 тонн, оборудованных изотермическим кузовом и холодильной установкой Carrier. 
              Грузовики  известны за свою надежность, повышенную безопасность и высокое качество. 
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="font-size: 18px;">
            <ul>Характеристики грузовика</ul>
            <li>Мощность: 330 и 400 л.с</li>
            <li>Крутящий момент: 1800 и 2100 Нм</li>
            <li>Объем двигателя: 10.8 и 12.8 л</li>
            <li>Средний расход: 27 и 33 л/100 км</li>
            <li>Грузоподъемность: 15000 кг</li>
            <li>Вместимость: 22 европалет</li>
            <li>Длина: 7.31 м</li>
            <li>Ширина: 2,48 м</li>
            <li>Высота: 2,48 м</li>
            <li>Объём кузова: 42 м3</li>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
