<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>
        VOLVO FH-12 420 сил
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl = "6" offset-xl = "3">
        <ion-card>
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="../../../../assets/images/fh476.jpg">
            </ion-slide>
            <ion-slide>
              <img src="../../../../assets/images/fh915.jpg">
          </ion-slide>
          <ion-slide>
            <img src="../../../../assets/images/back.JPG">
          </ion-slide>
          <ion-slide>
            <img src="../../../../assets/images/104left.JPG">
          </ion-slide>
          <ion-slide>
            <img src="../../../../assets/images/fh1043.jpg">
        </ion-slide>
          </ion-slides>
        </ion-card>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl = "8" offset-xl = "2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>В нашем автопарке имеется 17 магистральных тягачей Volvo FH-12, работающих с прицепами-рефрижераторами Krone. 
              Грузовики  известны за свою надежность, повышенную безопасность и высокое качество. 
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="font-size: 18px;">
            <ul>Характеристики тягача</ul>
            <li>Мощность: 420 л.с</li>
            <li>Крутящий момент: 2600 Нм</li>
            <li>Объем двигателя: 12.8 л</li>
            <li>Средний расход: 33 л/100 км</li>
            <li>Год выпуска 2014</li>
            <ul>Характеристики прицепа-рефрижератора</ul>
            <li>Модель: Krone Cool Liner</li>
            <li>Холодильная установка: THERMO KING SLXi 300</li>
            <li>Годы выпуска: 2015-2019</li>
            <li>Максимальный вес, с грузом: 39 000 кг</li>
            <li>Длина: 13.380 мм</li>
            <li>Ширина: 2.470 мм</li>
            <li>Высота 2.650 мм</li>
            <li>Объем: 86 м3</li>
            <li>Вместимость: 36 европалет</li>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
